package ${package.Controller};


import lombok.Getter;
import org.springframework.web.bind.annotation.RequestMapping;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * ${table.controllerName}
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
@Slf4j
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
#set($path = "")
#foreach($p in ${table.name.split("_")})
    #if("$p" != "")
        #if("$path" == "")
            #set($path=${p})
        #else
            #set($path=$path+"/"+${p})
        #end
    #end
#end
@RequestMapping("#if(${package.ModuleName})#end/${path}")
public class ${table.controllerName} implements CrudController<${entity}> {

@Getter
private final ${table.serviceName} service;

public ${table.controllerName}(${table.serviceName} service) {
        this.service = service;
}

/**
 * upload excel
 *
 * @param file file
 *
 * @return {@link Result}<{@link ?}>
 */
@PostMapping(value = "/upload")
public Result<?> upload(@RequestPart MultipartFile file){
service.upload(file, ${entity}.class);
return Result.success();
}

/**
 * download excel
 *
 * @param response        response
 * @param entity          entity
 * @param operationEntity operationEntity
 */
@GetMapping(value = "/download")
public void download(HttpServletResponse response,${entity} entity, @RequestBody OperationEntity operationEntity){
service.download(response, ${entity}.class, createQueryWrapper(entity, operationEntity), operationEntity);
}

}