package ${package.Controller};


import org.springframework.web.bind.annotation.RequestMapping;

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * ${table.controllerName}
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
@Slf4j
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
#set($path = "")
#foreach($p in ${table.name.split("_")})
    #if("$p" != "")
        #if("$path" == "")
            #set($path=${p})
        #else
            #set($path=$path+"/"+${p})
        #end
    #end
#end
@RequestMapping("#if(${package.ModuleName})#end/${path}")
public class ${table.controllerName} extends BaseController<${entity}> {

@Autowired
private ${table.serviceName} service;

/**
 * list
 * @param entity entity
 * @param operationEntity operationEntity
 * @return {@link Result}<{@link IPage}<{@link ${entity}}>>
 */
@GetMapping
public Result<IPage<${entity}>>list(${entity} entity, @RequestBody OperationEntity operationEntity){
return Result.success(service.list(operationEntity, super.createQueryWrapper(entity, ${entity}.class, operationEntity)));
}

/**
 * show
 *
 * @param id id
 *
 * @return {@link Result}<{@link ${entity}}>
 */
@GetMapping(value = "/{id}")
public Result<${entity}> show(@PathVariable(name = "id") String id){
return Result.success(service.show(id));
}

/**
 * create
 *
 * @param entity entity
 *
 * @return {@link Result}<{@link ?}>
 */
@PostMapping
public Result<?> create(@RequestBody ${entity} entity){
service.create(entity);
return Result.success();
}

/**
 * edit
 *
 * @param entity entity
 *
 * @return {@link Result}<{@link ?}>
 */
@PutMapping
public Result<?> edit(@RequestBody ${entity} entity){
service.edit(entity);
return Result.success();
}

/**
 * delete
 *
 * @param idList idList
 *
 * @return {@link Result}<{@link ?}>
 */
@DeleteMapping(value = "/{ids}")
public Result<?> deleteBatch(@PathVariable(name = "ids") List<String> idList){
service.delete(idList);
return Result.success();
}

/**
 * upload excel
 *
 * @param file file
 *
 * @return {@link Result}<{@link ?}>
 */
@PostMapping(value = "/upload")
public Result<?> upload(@RequestBody MultipartFile file){
service.upload(file, ${entity}.class);
return Result.success();
}

/**
 * download excel
 *
 * @param request         request
 * @param response        response
 * @param entity          entity
 * @param operationEntity operationEntity
 */
@GetMapping(value = "/download")
public void download(HttpServletRequest request,HttpServletResponse response,${entity} entity, @RequestBody OperationEntity operationEntity) throws Exception{
service.download(request, response, ${entity}.class, operationEntity.getExcel(), super.createQueryWrapper(entity, ${entity}.class, operationEntity), operationEntity);
}

}