package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * ${table.serviceName}
 *
 * @author ${author}
 * @version 1.0.0
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        IPage<${entity}> list(OperationEntity operationEntity, QueryWrapper<${entity}> queryWrapper);

        ${entity} show(String id);

        void create(${entity} entity);

        void edit(${entity} entity);

        void delete(List<String> idList);

        void upload(MultipartFile file, Class<${entity}> clazz);

        void download(HttpServletResponse response, Class<${entity}> clazz, QueryWrapper<${entity}> queryWrapper, OperationEntity operationEntity);
}
